module(
    name = "bazel_grpc_test",
    version = "0.0.1",
)

bazel_dep(name = "grpc", version = "{{.GrpcVersion}}")
bazel_dep(name = "protobuf", version = "{{.ProtobufVersion}}")
bazel_dep(name = "rules_go", version = "{{.RulesGoVersion}}")
bazel_dep(name = "rules_cc", version = "{{.RulesCcVersion}}")
